.boton {
    border:none;
    background-color:white;
    cursor: pointer;
}
.error {
    
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin:0 auto;
    color: red;
}

.fa-trash {
    color: red;
    cursor: pointer;
}

.fa-plus {
    color: gray;
}

label {
    font-weight:bold;
}

input[type="checkbox"] + label {
    
}
input[type="checkbox"]:checked + label {
    color: red;
    text-decoration:line-through;
}


input[type="checkbox"]:checked + label:before {
	background-color: red;
}

span {
    color: gray;
}

